<configuration>

    <springProfile name="local">
        <property name="rootLevel" value="DEBUG"/>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n
                </pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!local">
        <property resource="META-INF/build-info.properties"/>
        <property name="rootLevel" value="INFO"/>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {
                            "service": "${build.name}",
                            "version": "${build.version}, built ${build.time})",
                            "logger": "%logger",
                            "level": "%level",
                            "thread": "%thread",
                            "message": "%message"
                            }
                        </pattern>
                    </pattern>
                    <stackTrace>
                        <fieldName>error-stacktrace</fieldName>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>2048</maxLength>
                            <shortenedClassNameLength>20</shortenedClassNameLength>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <root level="${rootLevel}">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.zaxxer" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.flywaydb" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>

</configuration>
